/*点击查询显示工单管理页面样式*/
.gdgl_content{
    width: 100%;
    height: auto;
}
.model_left_gdgl{
    background-color: #EAF7FF;
    width:300px;
    float: left;
    height: 86%;
}
.modal-content .model_right_gdgl{
    overflow: hidden;
}
.gdgl_title h2{
    color: #000;
    text-align: left;
    font-size: 14px;
    padding: 10px;
    font-weight:700;
}
.gdgl_title_con a{
    color: #0033FF;
    display:block;
    float: left;
    border-bottom: 1px solid #0033FF;
    margin: 5px 0 15px 20px;
    font-size: 14px;
}
.gd_content{
    width: 100%;
}
.gdgl_title .gd_content p span:nth-child(1){
    width: 30%;
}
.gdgl_title .gd_content .input_time_pub {
    width: 70%;
    height: 24px;
    padding-left: 3%;
}
.gdgl_title .gd_content .input_time_pub input{
    width: 90%;
}
.gdgl_title .gd_content p{
    /*height: 30px;*/
    /*margin-top: 5px;*/
}
.gdgl_title .gd_content .input_time_pub select{
    height: 30px;
    width: 90%;
    padding:0 3%;
}
.gdgl_find{
    width: 32%;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 10% 0 10% 40%;
    background-color: #fff;
}
.model_left_gdgl .model_left_gdtj{
    background-color: #99CCFF;
    height: 30px;
}
.model_left_gdgl .model_left_gdtj h4{
    padding-left: 15px;
    line-height: 30px;
    font-size: 14px;
}
.model_left_gdgl .model_left_gdtj  div{
    padding: 5px 0 10px 20px;
}
.model_left_gdgl .model_left_gdtj  div span:nth-child(1){
    text-align: left;
}
.model_left_gdgl .model_left_gdtj  div span:nth-child(2){
    margin-left: 50px;
}
.model_right_gdgl{
    overflow: hidden;
}
.model_gdgl_content{
    width: 100%;
    height: 86%;
}
.gdgl_content{
    width: 100%;
}
.gdgl_content_top{
    width : 100%;
    background-color: #ebf7f8;
    border-top: 1px solid #DFF1F9;
}
.gdgl_content_top ul{
    width: 100%
}
.gdgl_content_top ul li{
    float: left;
    /*padding: 0 1%;*/
    text-align: center;
}
.gdgl_content_top ul li:nth-child(1){
    width: 15%;
}
.gdgl_content_top ul li:nth-child(2){
    width: 10%;
}
.gdgl_content_top ul li:nth-child(2)::after{
     right: 2%;
 }
.gdgl_content_top ul .up_top_bg:nth-child(3)::after{
    right:0;
}
.gdgl_content_top ul li:nth-child(3){
    width: 10%;
}
.gdgl_content_top ul li:nth-child(4),.gdgl_content_top ul li:nth-child(5),.gdgl_content_top ul li:nth-child(6),.gdgl_content_top ul li:nth-child(7){
     width: 8%;
 }
.gdgl_content_top ul li:nth-child(8){
    width: 5%;
}
.gdgl_content_top ul li:nth-child(9){
    width: 28%;
}
.gdgl_content_middle{
    width: 100%;
    padding: 1%;
}
.gdgl_content_middle .gdgl_content_pub{
    width: 100%;
    height: 115px;
    background-color: #EAF8FF;
    border: 1px solid #ccc;
    margin-top: 2%;
}
.gdgl_content_middle .gdgl_content_pub ul{
    width: 100%;
}
.gdgl_content_middle .gdgl_content_pub  li{

}
.gdgl_content_middle .gdgl_content_pub  li:nth-child(1){
    width: 15%;
}
.gdgl_content_middle .gdgl_content_pub  li:nth-child(2){
    width: 10%;
    line-height: 115px;
}
.gdgl_content_middle .gdgl_content_pub  li:nth-child(3){
    width: 10%;
    line-height: 115px;
}
.gdgl_content_middle .gdgl_content_pub  li:nth-child(4),.gdgl_content_middle .gdgl_content_pub  li:nth-child(5),.gdgl_content_middle .gdgl_content_pub  li:nth-child(6),.gdgl_content_middle .gdgl_content_pub  li:nth-child(7){
    width: 8%;
    line-height: 115px;
}
.gdgl_content_middle .gdgl_content_pub  li:nth-child(8){
    width: 5%;
    line-height: 115px;
}
.gdgl_content_middle .gdgl_content_pub  li:nth-child(9){
    width: 28%;
    padding-left: 5%;
    padding-top: -10px;
}
.gdgl_content_pub li:nth-child(2)::after{
    background: none;
}
.gdgl_content_pub li:nth-child(2).up_change_bg::after{
    content: '';
    width: 28px;
    height: 28px;
    background-size: cover;
    position: absolute;
    left: -33px;
    top: 45px;
    background: url(../image/rygl/warning.png) no-repeat;
}
.gdgl_content_pub li:nth-child(2).chq_bg::after{
    content: '';
    width: 28px;
    height: 28px;
    background-size: cover;
    position: absolute;
    left: -33px;
    top: 45px;
    background: url(../image/rygl/cgqgj_1.png) no-repeat;
}
.gdgl_content_bottom{
    width: 100%;
    height: 25px;
    padding-left:5%
}
.gdgl_content_pub li:nth-child(6){
    position: relative;
}
.gdgl_content_pub ul li:nth-child(6)::before{
    content: '';
    width: 20px;
    height: 19px;
    position: absolute;
    top: 45%;
    left: 10%;
    background:url(../image/rygl/flag_1.png) no-repeat;
}
.gdgl_content_middle div:nth-child(2) ul li:nth-child(6)::before{
    background:url(../image/rygl/flag_2.png) no-repeat;
}
.gdgl_content_middle div:nth-child(3) ul li:nth-child(6)::before{
    background:url(../image/rygl/flag_3.png) no-repeat;
}